.post-modal-container {
    display: flex;
    margin-top: 25px;
    height: 200px;
    gap: 8%;
    background-color: white;
    border: 1px solid var(--txt-color);
    border-radius: 20px;
    width: 98%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post-modal-uppper {
    display: flex;

    justify-content: flex-start;
    gap: 3%;
}
.post-modal-lower {
    display: flex;
    justify-content: center;
    gap: 3%;
}
